#img-bg{
    background-image: url(../../assets/Nome_Marvel.jpg);

    min-height: 650px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid{
    background-color: black;
}


